@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
  --btn-primary: orange;
  --btn-hover: rgba(255.165, 0, 0.8);
}
.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
}

@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
